$primary-color: #111827;
$text-light: #374151;
$button-color: #030712;
$button-color-light: #f3f4f6;
$background-light: #f9fafb;
$font-family: 'DM Sans', sans-serif;
$spacing-unit: 4px;
$border-radius: 0.5rem;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

$spacing-0: 0;
$spacing-1: $spacing-unit;
$spacing-2: 2 * $spacing-unit;
$spacing-3: 3 * $spacing-unit;
$spacing-4: 4 * $spacing-unit;
$spacing-5: 5 * $spacing-unit;
$spacing-6: 6 * $spacing-unit;
$spacing-7: 7 * $spacing-unit;
$spacing-8: 8 * $spacing-unit;
$spacing-9: 9 * $spacing-unit;
$spacing-10: 10 * $spacing-unit;
